<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="estilos.css">
        <title>Landing Page</title>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="textos">
                    <center>
                        <h1 class="treinta">Bienvenido <%= name %> :)</h1>
                    </center>
                    <center>
                    </center>
                    <center>
                        <form action="/logout", method='post'>
                            <input class="btn btn-danger" type="submit" value="Salir" />
                        </form>
                        <a class="btn btn-primary" href="/upload" >Subir Archivos</a>
                        <a class="btn btn-success" href="/files" >Descargar Archivos</a>
                        <a class="btn btn-warning" href="/users" >Editar Roles</a>
                    </center>
                </div>
                <img src="https://media1.tenor.com/images/03fb298c0fcdc275bcfbc5a8cb5d4b3f/tenor.gif?itemid=10431835" alt=""/>
            </div>
        </header>
        <div class="wave">
            <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
        </div>
    </body>
</html>
