<html>
<head>
    <title> Landing XD </title>
    <style>
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <center>
        <h1 class="treinta">Bienvenido a sopresa.com</h1>
    </center>

    <center>
        <h2 class="veinte"> Ingresa tu email y password para ver una sorpresa</h2>
    </center>

    <center class="container">
        <form method="POST" action="/login">
            <input type="email" name="mail" placeholder="email" />
            <input type="password" name="password" placeholder="password" />
            <input type="submit" value="Ingresar" />
        </form>
    </center>
</body>
</html>
