<%- include('header'); -%>
<div class="wave">
    <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
</div>
<p id="showError" style="padding-left:80px; color: red"></p>
<main>
    <div class="container">
        <div class="textos">
            <center>
                <h1 class="treinta veinte" style="color:black">Bienvenido</h1>
            </center>

            <center>
                <h2 class="veinte"> Ingresa tus credenciales</h2>
            </center>

            <center class="container">

                <% if (nuevo) { %>
                <form novalidate id="demo-form" method="POST" action="/save">
                    <% } else { %>
                    <form novalidate id="demo-form" method="POST" action="/login">
                        <% } %> 
                        <input id="MAIL" autocomplete="off" autocomplete="no" type="email" required="required" name="mail" placeholder="Email" />
                        <% if (nuevo) { %>
                        <input id="PASS" autocomplete="off" autocomplete="no" type="password"  required="required" name="password" placeholder="Password" />
                        <input type="text" required="required" name="nombre" placeholder="Name" />
                        <input type="text" required="required" name="phone"  maxlength="8" placeholder="Phone" />
                        <% } else { %>
                        <input type="password" required="required" name="password" placeholder="Password" />
                        <input type="text" autocomplete="off" autocomplete="no" required="required" name="code" placeholder="Secret Code" />
                        <% } %> 
                        <input type="submit" value="Ingresar" class="btn btn-primary g-recaptcha" data-sitekey="6Ld_-bcZAAAAABS8Cm7QvKW43L1UcK_Dmql_tUBp" data-callback='onSubmit' data-action='submit'></input> 
                    </form>
            </center>

        </div>
    </div>
</main>
<script src="captcha.js"> </script>
<%- include('footer'); -%>
