<html>
<head>
    <title> Landing XD </title>
    <style>
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <center>
        <h1 class="treinta">Registrate :)</h1>
    </center>


    <center class="container">
        <form method="POST" action="/save">
            <input type="email" name="mail" placeholder="email" />
            <input type="password" name="password" placeholder="password" />
            <input type="text" name="nombre" placeholder="name" />
            <input type="submit" value="Guardar" />
        </form>
    </center>
</body>
</html>
